.buttonBox{
  /* border: red 1px solid; */
  text-align: center;
}

.Button{
  width: 400px;
  height: 40px;
  background-color:white;
  border: none;
  color: black;
  border: 1px solid black;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  position: relative;
  top: 20px;
}

@media (max-width: 900px) {
  .Button {
    top:0;
    bottom: 100px
  }
}


