.marker {
  color: grey;
  height: 14px;
  margin-right: 10px;
}

.nameBox {
  /* border: red 1px solid; */
  font-size: 13px;
  font-weight: 500;
  height: 60px;
  margin:auto 0 auto

}

.nameBox:hover{
  color: black;

}

.nameBox:hover .marker{
  color: rgba(0, 186, 12, 0.846)
}

