.gridBox {
  display: grid;
  grid-template-columns: 40% 60%;
  /* border: solid 1px red; */
  /* margin: 0 15%; */
  margin-left: 15%;
  margin-right: 15%;
  /* filter: blur(10px) */
}

@media (max-width: 900px) {
  .gridBox {
    grid-template-columns: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
  }
}

.outsideBox {
  border: 0.5px solid grey;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  margin-bottom: 15px;
  height: 300px;
  overflow: hidden;
}

.leftBox {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
}

.outsideBoxNoScroll {
  border: 0.5px solid grey;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  margin-bottom: 15px;
  height: auto;
}

.outsideBox:hover {
  overflow: scroll;
  overflow-x: hidden;
}

.paddedBox {
  padding: 10px;
  padding-bottom: 0;
  /* border: 1px solid purple; */
}

.name {
  font-weight: 600;
}

.ballKey {
  background: rgb(251, 251, 251);
  font-size: 9px;
  border-radius: 3px;
  height: 27px;
  padding-left: 7px;
  margin-bottom: 5px;
  /* border: red 1px solid; */
}

.ballKeyCentre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 3px;
  height: 100%;
}

.noBallbox {
  color: rgb(196, 196, 196);
  vertical-align: middle;
  margin-right: 3px;
}

.box {
  /* border: red 1px solid; */
  vertical-align: middle;
  margin-right: 3px;
  color: #66bb6a;
}

.rightSideBoxPadded {
  display: grid;
  grid-template-rows: 500px 1fr;
  /* border: red 1px solid; */
  width: 90%;
  padding-left: 15px;
}

.buttonsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: red 1px solid; */
  height: max-content;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.mapBoxNHeading {
  border: 0.5px solid grey;
  padding: 19px;
  padding-top: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: max-content;

}

.mapText {
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 900px) {
  .rightSideBoxPadded {
    padding-left: 0;
    width: 100%;
  }
  .mapBoxNHeading {
    padding-left: 5px;
    padding-right:0px;
  }
}
