.playerCard {
  display: grid;
  grid-template-columns: 25px 1fr;
  /* background: yellow; */
  /* border: red 1px solid; */
}

.outsideCardWithBall {
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(233, 232, 232);
  margin-bottom: 15px;
  padding: 10px;
  padding-left: 13px;
  border-left: 3px solid #66bb6a;
}

.outsideCardWithNoBall {
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(233, 232, 232);
  margin-bottom: 15px;
  padding: 10px;
  padding-left: 14px;
  border-left: 3px solid rgb(196, 196, 196);
}

.nameTimeMessageBox {
  display: grid;
  grid-template-columns: 92% 1fr;
  grid-template-rows: 20px 20px;
}

.nameTimeMessageBoxButForUserCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 20px;
}



.messIcon{
  margin-top:5px;
  padding: 8px;
}

.messIcon:hover{
  background: #f3f3f3;
  border-radius: 6px;
}

.messBox:hover {
  /* border: 1px solid; */
  background: rgb(190, 190, 190);
}

.outsideCardLookingForPals {
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(233, 232, 232);
  margin-bottom: 15px;
  padding: 10px;
  padding-left: 14px;
}

.name {
  font-size: 10px;
  font-weight: 600;
  margin: 0px;
}
.personIcon {
  height: 100%;
}

.time {
  font-size: 10px;
  /* border: red 1px solid; */
  display: flex;
  align-items: center;
}

.clock {
  margin-right: 5px;
}

.arrow {
  /* border: red 1px solid; */
  margin: 0;
}
