.box{
  width: 165px;
  padding: 10px;
  border: 0.5px solid grey;
  font-weight: 400;
  font-family:Arial;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  top: 130px;
  background: white;
  font-size: 10px;
  font-family: Montserrat;
  z-index: 1;

}

.heading{
  width: 100%;
  text-align: center;
  font-weight:600;
  font-size: 16px;
}


.blackCircle{
  margin-right: 4px;
  color: black;
}

.redCircle{
  margin-right: 4px;
  color: red
}


.BrownCircle{
  margin-right: 4px;
  color: rgba(141, 113, 90, 0.654)
}


@media (max-width: 900px) {
  .box{
    border: none;
    box-shadow: 1px 1px 10px rgb(207, 206, 206);
    top: 133px;
    right:0px;

  }
}