.bigBox {
  /* border: red 1px solid; */
  height: 100%;
  display: flex;
  justify-content: center;
  width: 99.8vw;
  margin: 0;
}



.login {
  max-width: 280px;
  background-color: #ffffff;
  border-radius: 5px;
  /* border: red 1px solid; */
  height: max-content;
  padding: 40px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.hader {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.hader p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #706b6b;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.form input {
  height: 40px;
  outline: none;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}

.form span a {
  text-decoration: underline;
}

.memberLine {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 14px;
  margin-bottom: 10px;
}

.button {
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 15px;
  border-radius: 2px;
  background: rgb(109, 205, 109);
  color: white;
}

.errorMessage {
  color: red;
  font-size: 13px;
  margin: 0;
}

.loginSignUp {
  margin: 0;
  margin-left: 5px;
}

.loginSignUp:hover {
  text-decoration: underline;
}

.bigBox {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.formSignIn {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: max-content;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input {
  background-color: white;
  margin: 8px 0;
  height: 40px;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(39, 11, 11, 0.05);
  border: 1px solid #cccccc;
}

.submit {
  display: block;
  background: rgb(109, 205, 109);
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 2px;
  height: 40px;
  border: none;
}

.errorMessageSignUp {
  margin: 0;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

a {
  margin-left: 5px;
}

.errorMessage {
  color: red;
  font-size: 13px;
  margin: 10px 0 10px 0;
}

.signupMemberLine{
  margin: 0 0 0 0;
}

.loginSignUp {
  margin-left: 5px;
}

.signUpSubmit {
  margin: 0;
}
