.mainBlock{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    padding: 1.5px;
    margin:0;
}



@media (max-width: 900px) {
    .mainBlock {
        grid-template-columns: none; 
        grid-template-rows: 45% 55%;  
  }
  }
  