.box {
  background: #938274;
  height: max-content;
  border-radius: 15px;
  padding: 16px;
  width: 70%;
  box-shadow: 10px 10px 4px;
  /* border: red 1px solid; */
}

.outsideBox {
  padding: 40px;
  padding-left: 120px;
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.textBox {
  background: #aff4c6;
  border-radius: 10px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.image {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}


@media (max-width: 768px) {
  .outsideBox {
    padding:0;
    /* border: red 1px solid; */
    justify-content: center;
   
}

}
