.choiceBox{
  /* border: red 1px solid; */
  margin: 0 35% 0;
  
}

.heading{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 27px;
  /* border: red 1px solid; */
  text-align: center


  
}