html {
  font-family: Montserrat, "Arial";
}

.theBox {
  position: auto;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
  opacity: 0.1;
  cursor: not-allowed;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 130px 1fr 60px;
  /* border: red 1px solid; */
}

.eventMiddleBox {
  /* border: red 1px solid; */
  display: grid;
  grid-template-rows: 1fr 45px;
  height: 100%;
}

.eventWrapper {
  /* border: red 1px solid; */
  padding: 0 20%;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table {
  border: black 4px solid;
  border-radius: 15px;
  width: max-content;
  text-align: center;
  height: 110px;
  display: grid;
  grid-template-rows: 60% 40%;
}

.pBox {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* margin-bottom: -1px; */
}

.tableHeading {
  margin: 0;
  color: white;
  height: max-content;
  width: 100%;
}

select {
  border-radius: 15px;
  height: 80%;
}

.optionBox {
  border: none;
}



select:focus {
  outline: none;
  border: none;
}


.emptyBox:hover {
  background: #aff4c6;
}

.gridBox {
  margin-top: 20px;
  /* border: red 1px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 340px;
  border: black 4px solid;
  border-radius: 20px;
  margin-bottom: 15px;
}

.childBoxes {
  /* border: red 1px solid; */
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.childName {
  /* border: 1px solid red; */
  height: max-content;
  margin: 0;
  text-align: center;
  width: 100%;
  /* border: red 1px solid */
}

.topLeftRadiusChange {
  border-top-left-radius: 15px;
}

.topRightRadiusChange {
  border-top-right-radius: 15px;
}

.emptyBoxLast {
  border-bottom-right-radius: 15px;
}

.childBoxesName {
  background: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: red 1px solid; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.makeBoxBlack {
  background: black;
  color: white;
}

.changeBottomLeftRadius {
  border-bottom-left-radius: 15px;
}

.players {
  text-align: center;
  /* border: red 1px solid; */
  width: 100%;
}

.autocomplete-container {
  margin-bottom: 20px;
}

.input-container {
  width: 300px;
  display: flex;
}

.input-container input {
  flex: 1;
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* padding-right: 31px; */
  font-size: 16px;
}

.input-container {
  /* ... */
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;

  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.streetBlock {
  /* border: red 1px solid; */
  height: max-content;
  margin-top: 50px;
  width: max-content;
}

.mapNList {
  /* border: red 1px solid; */
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.backButtonBlock {
  position: relative;
  /* bottom: 0px; */
  /* border: red 1px solid; */
  padding-left: 9%;
}

.backButton {
  background-image: url("../../public/images/backButton.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  border: none;
  background-color: transparent;
}

.show {
  display: grid;
  /* border: red 1px solid; */
  height: max-content;
}

.hide {
  display: none;
}

.greyedOut {
  color: rgb(221, 221, 221);
  transition: color 0.3s;
}

.makeBlack {
  color: rgb(46, 42, 42);
}

.center {
  width: 300px;
  height: 60px;
  position: absolute;
  /* border: none */
}

.btn {
  width: 300px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 1s ease-in-out;
  border: 0.1px black solid;
}

.border {
  position: absolute;
  fill: none;
  left: 0;
  right: 0;
  top: 0;
  stroke: #fff9f9;
  stroke-dasharray: 300 480;
  stroke-dashoffset: 780;
  transition: 1.5s ease-in-out;
  width: 300px;
  stroke-width: 1;
}

.btn:hover {
  transition: 0.2s ease-in-out;
  background: #4f95da;
  color: white;
  border: none;
}

.btn:hover svg {
  stroke-width: 1;
  stroke-dashoffset: -480;
}

.btn span {
  font-size: 18px;
  font-weight: 100;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(2vh);
  visibility: hidden;
  transition: opacity 1500ms ease-out, transform 1600ms ease-out,
    visibility 4200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.joinButton {
  border: none;
  opacity: 1;
  margin: 0;
}

.lookingIcon {
  position: absolute;
  right: 0;
  top: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notiIcon:hover {
  background: #f3f3f3;
  cursor: pointer;
}

.notiIcon {
  margin-right: 5px;
  border: 0.5px solid grey;
  padding: 13px;
  border-radius: 5px;
  background: white;
  width: max-content;
}

.notiBox {
  margin-right: 5px;
  height: max-content;
  margin-top: 5px;
  border: 0.5px solid rgb(208, 208, 208);
  border-radius: 5px;
  padding: 24px;
  z-index: 2;
  background: white;
}

.translate-x-2 {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
