.fieldset{
    border: none;
}

.form{
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    margin-left: 15px
    
}


.bigHeroText{
    font-size: 60px;
    font-family: Inter;
    font-weight: 600;
    /* border: red 1px solid */
}

.liveText{
    color:rgb(34 197 94)
}


.para{
    font-size: 25px;
    font-family: Inter;
    font-weight: 300;
    margin-right: 25px;
    color:rgb(75 85 99);
}

.label{
    /* border: red solid 1px; */
    display: block;
    font-family: Montserrat;

 
}


.input{
    /* border: red 1px solid; */
    display: block;
    background: rgb(203, 202, 202);
    /* border: none; */
    width: 298px;
    border-radius: 1px;
    margin: 10px 0;
    height: 25px

}

.input:focus{
    background: white;
    border: 1px solid black;
}


@media (max-width: 768px) {
    .bigHeroText {
     font-size: 40px
  }
  .para {
    margin:0;
 }
 .form{
    padding:0;
    padding-top:0;
    margin:0;
    border: red 1px solid;
 }

  }
