.gm-style .gmnoprint, .gm-style .gm-style-cc {
  display: none;

}

.mapBlock{
  display: flex;
  justify-content: center;
  height: 380px;
  margin:0;
  /* border: red 1px solid; */
  
}

.mapBox{
  /* border: red 1px solid; */
  border-radius: 25px;
  box-shadow: 3px 3px 10px;
  margin:0;
}


