.parkBox {
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(233, 232, 232);
  margin-bottom: 15px;
  padding: 5px;
}

.parkBox:hover{
  border: solid 1px #66BB6A;
}

.ratingNIcon {
  display: grid;
  grid-template-columns: 1fr max-content;
  /* border: red 1px solid; */
  font-size: 8px;
  color: grey;
}

.ratingIcon {
  /* border: red 1px solid; */
  height: 100%;
}

.textSameSize {
  margin: 0;
  font-size: 10px;
  /* border: red 1px solid; */
}

.parkName {
  font-weight: 600;
  font-size: 11px;
}

.peopleIcon {
  color: grey;
  /* border: red 1px solid; */
  vertical-align:bottom;
  margin-bottom:1px;
}

.locationIcon {
  margin-right: 4px;
}

.lastLine{
  /* border: 1px solid red; */
  padding-bottom:0px;;
}


