.button{
  background: rgba(255, 0, 0, 0.3);
  width: 130px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-radius: 6px;
  height: 55px;
  border: none;
  cursor:default
}



.buttonAThePark{
  background: rgb(255, 15, 15); 
  width: 130px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-radius: 6px;
  height: 55px;
  border: none;
}

.buttonAThePark:hover{
  transform: scale(1.001)
}
