.logoutText {
  color: rgb(82, 80, 80);
  font-size: 20px;
  /* border: red 1px solid; */
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.logOut {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: red 1px solid */
}

.profileIcon {
  margin-right: 10px;
  color: black;
  size: 10px;
}

.profileIcon:hover {
  background: #f3f3f3;
  border-radius: 7px;
}

.userName {
  color: #66bb6a;
  margin-left: 14px;
}

.welcomeText {
  /* border: red 1px solid; */
  font-size: 30px;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 30px;
}

.outsideBox {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid grey;
  margin-bottom: 6px;
}



.textNIcon {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  width: 160px;
  /* border: red 1px solid; */
}

.textNIcon:hover {
  background: #f3f3f3;
  border-radius: 7px;
}

.textNIcon:hover {
  cursor: pointer;
}


.image{
  width: 50px;
  height: 50px;
}


@media (max-width: 900px) {
  .welcomeText {
    font-size: 23px;
  }

  .outsideBox {
    width: 100%;
    /* border: red 1px solid; */
    position: sticky;
    top: 0;
    z-index: 200;
    background: white;
  }

  .logoutText{
    font-size:16px;
  }
  .image{
    width: 30px;
    height: 30px
  }
  .logOut{
    width: max-content;
    margin-right:6px;
  }
  .textNIcon{
    /* border: red 1px solid; */
    width: 100px;
    margin-right: 0
  }
  .profileIcon{
    margin-right:0;
  }
  .welcomeText{
    margin-left:5px;
  }
  .profileIcon{
    size:4px
  }

}